[Desktop Entry]
Name=Pynes
Comment=A basic mine (minesweeper) game
TryExec=pynes
Exec=pynes
Icon=pynes
Type=Application
Terminal=False
Categories=Game
StartupNotify=true
Keywords=mines;bombs;
X-Desktop-File-Install-Version=0.26
